/* MAIN CONTAINER */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  /* SAME BACKGROUND SYSTEM */
  background: transparent;
  position: relative;
  z-index: 1;
}

/* AUTH SECTION */
.authSection {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* GLASS EFFECT */
    background: linear-gradient(135deg, #0f0f1a, #1a1a2e, #0f3460);

  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 20px;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* SWITCH TEXT */
.switchContainer {
  margin-top: 1 rem;
  text-align: center;
  font-size: 0.95rem;
  color: #bbb;
}

/* SWITCH LINK */
.switchLink {
  color: #00cec9;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.switchLink:hover {
  color: #6c5ce7;
  text-decoration: underline;
}