/* FOOTER */
.footer {
  background: transparent;
  backdrop-filter: blur(20px);
  margin-top: 3rem;
  padding: 3rem 6rem;
  color: #ffffff;

  /* border-top: 1px solid rgba(255, 255, 255, 0.08); */

  user-select: none;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

/* SECTIONS */
.aboutSection,
.servicesSection,
.contactSection {
  flex: 1 1 300px;
  min-width: 280px;
}

/* TITLE */
.title {
  font-size: 1.6rem;
  font-weight: 700;

  background: linear-gradient(90deg, #6c5ce7, #00cec9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 1rem;
}

/* TEXT */
.text {
  font-size: 1rem;
  line-height: 1.6;
  color: #bbb;
  margin-bottom: 1.5rem;
}

/* SOCIAL ICONS */
.socialIconsCentered {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 1rem;
}

.socialIconsCentered a {
  color: #bbb;
  font-size: 1.6rem;
  transition: 0.3s;
}

.socialIconsCentered a:hover {
  color: #00cec9;
  transform: scale(1.2);
}

/* LINKS */
.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #bbb;
  font-weight: 500;
}

.linkList li {
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.linkList li:hover {
  color: #00cec9;
}

/* CONTACT */
.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #bbb;
}

.contactList li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.contactList a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.contactList a:hover {
  color: #6c5ce7;
}

/* ICON */
.icon {
  color: #00cec9;
  font-size: 1.3rem;
}

/* COPYRIGHT */
.copyRight {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 0.9rem;
  color: #888;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer {
    padding: 3rem 2rem;
  }

  .container {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }

  .socialIconsCentered {
    justify-content: center;
  }
}